* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
}

img {
    max-width: 100%;
    display: block;
}

.front100 {
    min-height: 100vh;
    margin-bottom: 5vh;
}

@media(max-width: 1000) {
    .front100 {
        margin-bottom: 15vh;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5em;
}

header img {
    width: 90vw;
    height: auto;
}

@media(min-width:500px) {
    header img {
        width: 75vw;
        height: auto;
    }
}

@media(min-width:1000px) {
    header img {
        width: 60vw;
        height: auto;
    }
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    padding-top: 0em;
    flex: 1;
}

@media(min-width:500px) {
    nav ul {
        flex-direction: row;
        gap: 5vw;
    }
}

@media(min-width:1000px) {
    nav ul {
        flex-direction: row;
        gap: 2.5vw;
    }
}

nav ul li {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    font-size: 1.5em;
}



@media(min-width:500px) {
    nav ul li {
        font-size: 2.25vw;
    }
}

nav a {
    text-decoration: none;
}

a:hover{
  font-weight: bold;
  color: rgb(255, 94, 0);
}

a:active{
  color: rgb(255, 94, 0);
}


.quotesection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    padding-top: 12vh;
}

@media(max-width:500px) {
    .quotesection {
        padding-top: 20vw;
    }
}

.quote {
    text-align: center;
    width: 70vw;
}

@media(min-width:500px) {
    .quote {
        font-size: 2vw;
    }
}

@media(min-width:1000px) {
    .quote {
        font-size: 38px;
        width: min(60vw, 900px);
    }
}

.introduction {
    padding: 1vh 7vh;
    margin-bottom: 1em;
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width:1000px) {
    .split {
        flex-direction: row;
    }
    .split>* {
        flex-basis: 100%;
    }
    .split>*+* {
        margin-left: 2em;
    }
}

@media(max-width:1000px){
    .split img{
        border-radius: 3%;
    }
    .splitreverse img{
        border-radius: 3%;
    }
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 1.75em;
    margin-bottom: 1.2em;
}

.description h2{
    margin-bottom: 1em;
}

@media(max-width: 1000px) {
    .description p {
        width: 80%;
    }
}

@media(min-width: 750px) {
    .description {
        font-size: 2vw;
        padding: 1.5em;
    }
}

@media(min-width:1900px) {
    .description {
        font-size: 38px;
    }
}



.splitreverse {
    display: flex;
    flex-direction: column;
}

@media (min-width:1000px) {
    .splitreverse {
        flex-direction: row;
    }
    .splitreverse>* {
        flex-basis: 100%;
    }
    .splitreverse>*+* {
        margin-left: 2em;
    }
}



@media(max-width:1000px) {
    .splitreverse {
        flex-direction: column-reverse;
    }
}

footer {
    padding: 1.5em;
    background-color: #1F1F1F;
    margin-top: 2vh;
}

@media(min-width:1000px) {
    footer {
        padding: 3em;
        margin-top: 3vh;
    }
}

.footerimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F1F1F;

}




.splitfooter {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1F1F1F;
}

.splitfooter a:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

@media(min-width:1000px) {
    .splitfooter {
        width: 800px;
    }
}

footer img {
    height: 4vh;
    width: auto;
    background-color: #1F1F1F;
}

@media(max-width:500px) {
    footer img {
        height: 3vh;
    }
}

@media(min-width:1000px) {
    footer img {
        height: 5vh;
    }
}

.footertext {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    background-color: #1F1F1F;
}

footer p {
    background-color: #1F1F1F;
}

@media(min-width:1000px) {
    .footertext {
        font-size: 35px;
    }
}

.members{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.split1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10vh;

}

@media (max-width:1000px) {
    .split1 {
        flex-direction: column;
    }

}

.person{
    width: 17.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}



@media(max-width:1000px){
    .person{
        flex-direction: row;
        width: 70vw;
        padding: 0em;
    }
}

.persontext{
    width: 80%;
    text-align: center;
    padding: 2em;
    font-size: 1.5vw;

}

.persontext h2{
    margin-bottom: 0.5em;
    font-size: 2.5vw;
}

@media(max-width:1000px){
    .persontext h2{
        font-size: 4.5vw;
    }
    .persontext{
        font-size: 3vw;
    }
}

.person img{
    border-radius: 50% ;
}

@media(max-width:1000px){
        .person{
            margin-top: 2em;
            margin-bottom: 2em;
        }
        .persontext{
            flex-grow: 1;
            flex-basis: 0;
        }
        .pb {
            flex-grow: 2;
            flex-basis: 0;
        }
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    text-align: center;
    font-size: 3vh;
}

.team h2{
    padding: 1em;
    font-size: 5vh;
}

.textteam{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;

}

.roadmap{
    margin-top: 0px;
}
